%h2 
  = "Image #{@image}"

.row
  .column-left
    %figure
      %img{:src => "/uploads/#{@image}", :style => "width:400px;"}

  .column-right
    - if session[:resp]
      - session[:resp]['result']['variants'].each do |v|
        %textarea{:style => "height: 2.5rem;"}
          = v
    

%form{action: "/cloudflare_upload/#{@image}", method: "POST"}
  %input{type: "submit", value: "Upload"}/
