-img_url = params['img_url']
-alt = params['alt']

.row
  .column-left
    %h3
      %i.fa-brands.fa-markdown
    %textarea{:style => "float:left;height:6em;margin-bottom:3rem;"}
      = "![#{@alt}](#{@image_url})"

    %h3{:style => "clear:left;"}
      %i.fa-solid.fa-code
    %textarea{:style => "float:left;height:6em;margin-bottom:3rem;"}
      = "<img src='#{@image_url}' alt='#{@alt}' />"
    %br/
        
  .column-right
    %img{:src => "#{@thumbnail}" , :style => "margin-top:2em;"}


  