- @recents.each do |r|
  %div{:style => "margin-bottom:2rem;clear:both;"}
    %img{:src => r[:thumb], :style => "width:10%;float:left;margin-bottom:2rem;margin-top:1rem;"}
    
    %textarea{:style => "float:left;width: 85%;margin-left:2rem;margin-top:1rem;margin-bottom:2rem;height: 10rem;"}
      = "---\n"
      = "title:  'Picture of the Week: #{r[:title]}'\n"
      = "potw_img_url: #{r[:potw_img_url]}\n"
      = "potw_alt: #{r[:potw_alt]}\n" 
      = "potw_gallery_link:  #{r[:potw_gallery_link]}\n"
      = "date: #{Time.now.strftime("%Y-%m-%dT%H:%M:%S%z")}\n"
      = "tags: ['PotW','photography']\n"
      = "draft: true\n"
      = "---\n"

       

